name: Update translations

on:
  schedule:
    - cron: '0 8 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Ruby gem (twine)
        run: gem install twine

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y csvkit translate-toolkit dos2unix

      - name: Configure Git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "Automated GitHub Action"

      - name: Run generate.sh in each directory and commit changes
        run: |
          allowed_to_fail=("sumatra/")
          error_occurred=0
          for d in */; do
            if [ -f "${d}generate.sh" ]; then
              echo "Running generate.sh in $d"
              if "${d}generate.sh"; then
                if git diff --unified=0 "$d" | grep "^-\|^\+" | grep -v "^---" | grep -v "^+++" | grep -v "POT-Creation-Date: " | grep -v "X-Generator: "; then
                  git add "$d"
                  git commit -m "Update files in $d via GitHub Actions"
                  git push origin HEAD
                else
                  echo "No significant changes in $d"
                fi
              else
                if [[ " ${allowed_to_fail[@]} " =~ " ${d} " ]]; then
                  echo "Error occurred in $d (allowed to fail)"
                else
                  echo "Error occurred in $d"
                  error_occurred=1
                fi
              fi
              git checkout "$d"
              git clean -f
            fi
          done

          # Make the pipeline fail if there was an error
          if [ "$error_occurred" -eq "1" ]; then
            exit 1
          fi
